<div class="content">
    <div class="section">
        <h1>Add Application</h1>
        <i class="explainer-icon fas fa-info-circle" onclick="toggle('explainer-addapp')"></i>
        <div class="explainer" id="explainer-addapp" style="display:none">
        <pre class="code" id="command-addapp">curl -v -X POST {{tenant}}/oauth2/v1/clients \
-H "Content-Type: application/json" \
-H "Authorization: Bearer <span class="token">
{{tokenSet.access_token}}</span>" \
--data-raw '{
  "client_name": "Example OAuth Client",
  "client_uri": "https://www.example.com",
  "logo_uri": "https://www.example.com/logo.png",
  "application_type": "web",
  "redirect_uris": [
     "https://www.example.com/oauth2/redirectUri"
  ],
  "post_logout_redirect_uris": [
    "https://www.example.com/oauth2/postLogoutRedirectUri"
  ],
  "response_types": [
     "code"
  ],
  "grant_types": [
     "authorization_code",
     "refresh_token"
  ],
  "token_endpoint_auth_method": "client_secret_post",
  "initiate_login_uri": "https://www.example.com/oauth2/login"
}'<i class="copyButton copycontrol far fa-copy" data-clipboard-target="#command-addapp"></i></pre>
        </div>
        <form action="/addApplication" method="POST">
        <input type="hidden" value="{{groupId}}"/>
            <div class="section">
                <label for="name">Application Name</label>
                <input type="text" name="clientName" value={{clientName}}></input>
                <label for="uri">Application Base URI</label>
                <input type="text" name="uri"
                pattern="(http|https):\/\/.*" title="Valid uri starting with http
                or https" value={{uri}}></input>
                <button type="submit" class="btn-positive" >Submit</button>
            </div>
        </form>
        <div>
            <form action="/">
                <input type="submit" class="btn-negative" value="Cancel" />
            </form>
        </div>
    </div>
    <div class="section errorMsg">
        {{error}}
    </div>
</div>