<div id="BrandLogo"></div>
<div class="content">
    <div class="section">
        <h1>Add Team Member</h1>
        <form action="/addTeamMember/{{groupId}}" method="POST">
        <input type="hidden" value="{{groupId}}"/>
            <div class="section">
                <label for="name">Name</label>
                <input type="text" name="name" value="{{user.name}}"></input>
                <label for="phonenumber">Phone Number</label>
                <input type="text" name="phonenumber"
                value="{{user.phoneNumber}}"></input>
                <label for="email">Email</label>
                <input type="text" name="email" value="{{user.email}}"></input>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
        <div>
            <form action="/">
                <input type="submit" value="Cancel" />
            </form>
        </div>
    </div>
    <div class="section errorMsg">
        {{error}}
    </div>
</div>