<div id="BrandLogo"></div>
<div class="content">
    <div class="section">
        <p>Welcome {{user.name}}. You last logged in {{user.lastLogin}}</p>
    </div>

    {{#if wasDownscoped}}
    <div class="section">
        <h1>Downscoped</h1>
        <p>
            Your token was downscoped to match your available permissions, some
        functions may be unavailable to you.
        </p>
        <h2>Requested Scopes</h2>
        {{requestedScopes}}
        <h2>Granted Scopes</h2>
        {{grantedScopes}}

        <ul>
            {{#each downscopeNotices}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        </p>
    </div>
    {{/if}}

    <div class="section">
        <h1>Your Profile</h1>
        <p>Your registered phone number is {{user.phoneNumber}}.</p>
        <form action="./editProfile">
            <input type="submit" value="Edit" />
        </form>
    </div>

    <div class="section">
        <h1>Your Teams</h1>
        {{#each groups}}
            <div> 
                <p>{{this.name}}</p>
                <div>
                    <form action="./addTeamMember/{{this.id}}">
                        <input type="submit" value="New Team Member" />
                    </form>
                </div>
            </div>
        {{/each}}
    </div>

    <div class="section">
        <h1>Your Applications</h1>
        {{#each applications}}
            <div>
                {{this.name}}
            </div>
        {{/each}}
        <form action="./addApplication">
            <input type="submit" value="New Application" />
        </form>
    </div>
</div>