<div id="BrandLogo"></div>
<div class="content">
    <div class="section">
        <p>Welcome, {{user.name}}!</p>
        <p>You last logged in {{user.lastLogin}}.</p>
    </div>

    {{#if wasDownscoped}}
    <div class="section">
        <h1>Downscoped</h1>
        <p>
        Your access token was downscoped to match your application's available 
        permissions, so some functions may be unavailable to you.
        </p>
        <h2>Requested Scopes</h2>


        <table>
            <tr><th>Scope</th><th>Granted</th>
        {{#each authorizations}}
            <tr><td>{{@key}}</td><td>{{.}}</td></tr>
        {{/each}}
        </table>
    </div>
    {{/if}}

    <div class="section">
        <h1>Your Profile</h1>
        <i class="explainer-icon fas fa-info-circle" onclick="toggle('explainer-me')"></i>
        <div class="explainer" id="explainer-me" style="display:none">
        <pre class="code" id="command-me">curl -v -X GET {{tenant}}/api/v1/users/me \
-H "Content-Type: application/json" \
-H "Authorization: Bearer <span class="token">
{{tokenSet.access_token}}</span>"<i class="copyButton copycontrol far fa-copy" data-clipboard-target="#command-me"></i></pre>
        </div>
        {{#if user.phoneNumber}}
        <p>Your registered phone number is {{user.phoneNumber}}.</p>
        {{else}}
        <p>Please complete your profile.</p>
        {{/if}}
        <form action="/editProfile">
            <input type="submit" class="btn-positive" value="Edit" />
        </form>
    </divid="explainer-me">

    {{#if groups}}
    <div class="section">
        <h1>Your Teams</h1>
        <i class="explainer-icon fas fa-info-circle" onclick="toggle('explainer-groups')"></i>
        <div class="explainer" id="explainer-groups" style="display:none">
        <pre class="code" id="command-groups">curl -v -X GET {{tenant}}/api/v1/users/me/groups \
-H "Content-Type: application/json" \
-H "Authorization: Bearer <span class="token">
{{tokenSet.access_token}}</span>"<i class="copyButton copycontrol far fa-copy" data-clipboard-target="#command-groups"></i></pre>
        </div>
        {{#each groups}}
            <div> 
                <h3>{{this.name}}</h3>
                <p>{{this.desc}}</p>
                <form action="/addTeamMember/{{this.id}}">
                    <input type="submit" class="btn-positive" value="Add Team Member" />
                </form>
            </div>
        {{/each}}
    </div>
    {{/if}}

    {{#if applications}}
    <div class="section">
        <h1>Applications You Manage</h1>
        <i class="explainer-icon fas fa-info-circle" onclick="toggle('explainer-apps')"></i>
        <div class="explainer" id="explainer-apps" style="display:none">
        <pre class="code" id="command-apps">curl -v -X GET {{tenant}}/oauth2/v1/clients \
-H "Content-Type: application/json" \
-H "Authorization: Bearer <span class="token">
{{tokenSet.access_token}}</span>"<i class="copyButton copycontrol far fa-copy" data-clipboard-target="#command-apps"></i></pre>
        </div>
        {{#each applications}}
            <div class="application">
                {{this.name}}
            </div>
        {{/each}}
        <p></p>
        <form action="/addApplication">
            <input type="submit" class="btn-positive"  value="Add Application" />
        </form>
    </div>
    {{/if}}

    <div class="section">
        <h1>Logout</h1>

        <form action="/logout">
            <input type="submit" class="btn-positive" value="Logout" />
        </form>
    </div>

</div>
